.container {
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10%;
    padding-top: 5px;
    font-size: 34px;
}


/* ... (other common styles) */


/* Media Query for Smaller Screens (max-width: 480px) */

@media (max-width: 480px) {
    .header {
        font-size: 28px;
    }
    /* ... (other adjustments for smaller screens) */
    .submit {
        margin-left: 15% !important;
        margin-bottom: -20% !important;
    }
}

.text {
    color: rgba(58, 38, 5, 0.959);
    font-size: 48px;
    font-weight: 700;
    top: 5px !important;
}

.underline {
    width: 61px;
    height: 6px;
    background: rgba(58, 38, 5, 0.959);
    border-radius: 9px;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0px 20px;
    width: 20px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left: 20px;
    margin-top: 27px;
    color: rgba(58, 38, 5, 0.959);
    font-size: 18px;
}

.forgot-password span {
    color: rgba(58, 38, 5, 0.959);
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60% !important;
    height: 59px;
    color: #fff;
    background: rgba(58, 38, 5, 0.959);
    border-radius: 1px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 50px;
}