
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}


.pagination button {
    background-color: #f8f9fa; 
    color: rgba(58, 38, 5, 0.959); 
    border: 1px solid #dee2e6; 
    padding: 8px 12px; 
    margin: 0 3px; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}


.pagination button.active {
    background-color: rgba(58, 38, 5, 0.959); 
    color: white; 
    border: 1px solid rgba(58, 38, 5, 0.959);
}

.pagination button:hover:not(.active) {
    background-color: #e9ecef; 
}